.input{
    height: 35px;
    width: 250px;
    padding: 5px;
    margin: 18px;
    font-size: 25px;
    border-radius: 7px;
    font-weight: 400;
    text-align: right;
}
input:hover{
    background-color: #d6d6d6;
    cursor: pointer;
    font-weight: 600;
   
}