body{
  background-color: #212121;
}
h1{
  font-weight: 700;
  font-size: 45px;
}
input {
  width: 70%;
  height: 35px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
}

#mainApp{
  
  border: transparent;
  background-color: rgb(92, 6, 154);

  color: #ffff;
}

.kg-button{
min-width: 80px;
}

#content{
  font-size: 25px;
}
